:root {
  --background: #212121;
  --foreground: #E2E2E2;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
header,
footer,
section {
  width: 100%;
  max-width: 1024px;
}
.ellipsis {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}
.loading { 
  height: 50px;
  background-color: #30303085;
  border-radius: 10px;
  margin: 10px 0;
}
.light { background-color: var(--foreground); }
.light .muscle-section,
.light .muscle-day-container { background-color: #D5D5D5; }
.light .muscla-day-title-container span { background-color: var(--background) !important; }
.light .register-exercise label,
.light h1,
.light h2,
.light p,
.light strong { color: var(--background) !important; }
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}