header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div ul {
    display: flex;
    justify-content: end;
    width: 200px;
    list-style: none;
}
header a {
    color: var(--foreground);
    text-decoration: none;
}