.muscle-day-container ul li,
.muscle-day-container { padding-bottom: 50px; }
.muscle-day-container ul {
    list-style: none;
    padding: 0;
}
.muscle-day-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}