.register-exercise {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0px;
}
.register-exercise select,
.register-exercise input,
.register-exercise textarea {
    padding: 20px;
    border-radius: 5px;
}
.submit-container { 
    width: 100%; 
    text-align: right;
}
.register-exercise button {
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
}
.register-exercise label {
    display: flex;
    flex-direction: column;
}
label[for='weekday'],
label[for='exercise_image_url'],
label[for='exercise_name'],
label[for='muscle'] { width: 50%; }
label[for='exercise_instructions'] { width: 100%; }
@media screen and (max-width: 768px) {
    label[for='weekday'],
    label[for='exercise_image_url'],
    label[for='exercise_name'],
    label[for='muscle'],
    label[for='exercise_instructions'] { width: 100%; }
}